<h1>Todo Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= todo.completed.check_box :completed, :checked => false %></td>
        <td><small><%= link_to 'delete', todo, method: :delete %> </small></td>
      </tr>
    <% end %>
    <div class="form">
      <%= form_with scope: :todo, url: todos_path do |f| %>
        Title: <%= f.text_field :title %><br />
        Description : <%= f.text_field :description %>
        <%= f.check_box :completed, :checked => false %> 
        <%= f.submit %>
      <% end %>
    </div>
  </tbody>
</table>

<br>


